* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  width: 900px;
  height: 900px;
  grid-template-columns: repeat(11, 1fr);
  .field {
    padding: 20%;
    .circle {
      width: 50%;
      height: 50%;
      border: 1px solid black;
      border-radius: 500px;
    }
  }
}
